In [45]:
import numpy as np
import pandas as pd

In [46]:
file_path = r"C:\Users\sjung\Desktop\Data_Science_Lab\EDA_project\10th-EDA\Team_C\정제데이터\\"
meta= pd.read_csv(file_path+'장르만_다시_처리.csv')
meta.head(5)

,작품명,장르,SF,SF 시리즈,[1] 로맨스,가족,감성,격정멜로,경제,경찰,...,현대 판타지,형사,형사물,호러,회귀,회사 드라마,휴머니즘,휴먼,휴먼 판타지 드라마,힐링
0,에이틴,"['웹드라마', '학원물', '로맨스']",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,최고의 치킨,['드라마'],0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,왼손잡이 아내,"['복수', '멜로']",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,동네변호사 조들호 2: 죄와 벌,['법률 드라마'],0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,왕이 된 남자,['사극'],0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 장르 구분 수정본 (정성오)
출처: https://ko.wikipedia.org/wiki/%EB%B6%84%EB%A5%98:%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD%EC%9D%98_%EC%9E%A5%EB%A5%B4%EB%B3%84_%ED%85%94%EB%A0%88%EB%B9%84%EC%A0%84_%EB%93%9C%EB%9D%BC%EB%A7%88

In [47]:
# 수정본

# 드라마, 로맨스, 막장, 미스터리, 스릴러(범죄, 느와르 관련)
# 액션, 역사, 전문분야, 코미디, 판타지, 휴먼

genre_groups = {  
    '드라마':['드라마', '로맨스 드라마', '로맨틱 코미디 드라마', '막장 드라마',
           '스포츠 드라마', '음악 드라마', '청춘 드라마', '코믹 미스터리 사극 드라마',
           '판타지 드라마', '판타지 로코 드라마', '회사 드라마', '예능 드라마'],
#     '웹드라마',
    
    '로맨스':['[1] 로맨스', '격정멜로', '로맨스', '로맨스 드라마',
           '로맨틱', '로맨틱 드라마[1] 로맨틱 코미디[2]','로맨틱 코미디',
           '로맨틱 코미디 드라마', '로맨틱 판타지', '로코', '멜로',
           '멜로 로맨스 코미디', '미스터리 멜로', '서스펜스 멜로',
           '판타지 로코 드라마', '판타지 액션 로맨스', '프라이빗 오피스 멜로',
           '학원물 로맨스'],
#     '감성'
    
#     '막장': ['막장', '막장 드라마'],
    
    '미스터리':['미스터리', '미스터리 멜로', '미스터리 수사물', '미스터리 스릴러',
              '미스테리', '코믹 미스터리 사극 드라마',
              '서스펜스 추리', '수사', '추리', '추리물', '추적활극', '형사', '형사물'],
    
    
    '스릴러':['느와르', '미스터리 수사물',
              '미스터리 스릴러', '밀리터리 스릴러', '범죄', '복수', '서스펜스',
              '서스펜스 멜로', '서스펜스 추리', '스릴러', '심리 스릴러',
              '재난', '좀비', '좀비 아포칼립스', '첩보', '추적활극', '케이퍼',
              '피카레스크', '하드보일드'],
#     '공포', '엑소시즘', '오컬트', '심리', '호러', '디스토피아'
    
    '액션':['군대', '액션', '느와르', '판타지 액션 로맨스', 
          '첩보', '밀리터리 스릴러', '범죄',  
          '추적활극', '케이퍼', '전쟁' ],
#     '재난', '형사', '형사물', '좀비', '좀비 아포칼립스', '복수',
    
    '역사':['사극', '시대극', '전쟁', '코믹 미스터리 사극 드라마', '판타지 사극',
          '논픽션'],
    
    '전문분야': [ '메디컬',  '경제', '금융', '법률',
             '법률 드라마', '법정', '스포츠', '의학',
              '한의학', '음악', '비즈니스'],
#     'SF', 'SF 시리즈', '경찰', '형사', '형사물', '정치', '스포츠 드라마',
    
    '코미디':['대학', '로맨틱 드라마[1] 로맨틱 코미디[2]', '로맨틱 코미디',
           '로맨틱 코미디 드라마', '로코', '멜로 로맨스 코미디', '블랙 코미디',
           '블랙코미디', '시트콤', '예능 드라마', '코미디', '코믹',
           '코믹 미스터리 사극 드라마'],
    
    '판타지':['디스토피아', '로맨틱 판타지', '판타지', 
           '초능력', '판타지 드라마',
           '판타지 로코 드라마', '판타지 사극', '판타지 액션 로맨스',
           '판타지힐링', '현대 판타지', '휴먼 판타지 드라마'],
#     '좀비', '좀비 아포칼립스', '모험', '어드벤처', '회귀', '타임 크로싱',
    
    
    '휴먼':['대학', '일상', '일상물',  '청춘', '청춘 드라마',
          '청춘 성장', '캠퍼스', '하이틴', '학교', '학원', '학원물',
          '학원물 로맨스', '휴머니즘', 
          '휴먼', '휴먼 판타지 드라마']
#     '오피스','회사 드라마', '프라이빗 오피스 멜로', '성장', '힐링', '가족', '우정',
}

In [48]:
# genre_groups 딕셔너리에 정의된 각 그룹에 속하는 열들을 찾아서 grouped_genres에 저장
grouped_genres = {}
for group, genres in genre_groups.items():
    grouped_genres[group] = [genre for genre in meta.columns if any(g in genre for g in genres)]

In [49]:
#grouped_genres 딕셔너리에 저장된 장르 그룹들과
#그에 해당하는 열들을 사용하여 새로운 데이터프레임 만들
grouped_df = pd.DataFrame()
for group, genres in grouped_genres.items():
    grouped_df[group] = meta[genres].sum(axis=1)

In [50]:
grouped_df

     드라마  로맨스  미스터리  스릴러  액션  역사  전문분야  코미디  판타지  휴먼
0      1    1     0    0   0   0     0    0    0   1
1      1    0     0    0   0   0     0    0    0   0
2      0    1     0    1   0   0     0    0    0   0
3      1    0     0    0   0   0     1    0    0   0
4      0    0     0    0   0   1     0    0    0   0
..   ...  ...   ...  ...  ..  ..   ...  ...  ...  ..
388    0    0     0    3   1   0     0    0    0   0
389    0    0     1    1   0   0     0    0    1   0
390    1    1     0    0   0   0     0    0    0   0
391    0    1     0    0   0   0     0    1    0   0
392    1    0     0    0   0   0     0    0    0   0

[393 rows x 10 columns]

In [51]:
#작품명과 기타 데이터 살리기
sliced_meta = meta.iloc[:, :2]
sliced_meta

                   작품명                          장르
0                  에이틴      ['웹드라마', '학원물', '로맨스']
1               최고의 치킨                     ['드라마']
2              왼손잡이 아내                ['복수', '멜로']
3    동네변호사 조들호 2: 죄와 벌                  ['법률 드라마']
4              왕이 된 남자                      ['사극']
..                 ...                         ...
388    넘버스 : 빌딩숲의 감시자들  ['오피스', '복수', '범죄', '스릴러']
389                 악귀      ['판타지', '미스터리', '스릴러']
390              아씨두리안        ['SF', '드라마', '로맨스']
391             가슴이 뛴다        ['공포', '로맨스', '코미디']
392             기적의 형제                     ['드라마']

[393 rows x 2 columns]

In [52]:
merged_df = pd.concat([sliced_meta, grouped_df], axis=1)
merged_df

,작품명,장르,드라마,로맨스,미스터리,스릴러,액션,역사,전문분야,코미디,판타지,휴먼
0,에이틴,"['웹드라마', '학원물', '로맨스']",1,1,0,0,0,0,0,0,0,1
1,최고의 치킨,['드라마'],1,0,0,0,0,0,0,0,0,0
2,왼손잡이 아내,"['복수', '멜로']",0,1,0,1,0,0,0,0,0,0
3,동네변호사 조들호 2: 죄와 벌,['법률 드라마'],1,0,0,0,0,0,1,0,0,0
4,왕이 된 남자,['사극'],0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
388,넘버스 : 빌딩숲의 감시자들,"['오피스', '복수', '범죄', '스릴러']",0,0,0,3,1,0,0,0,0,0
389,악귀,"['판타지', '미스터리', '스릴러']",0,0,1,1,0,0,0,0,1,0
390,아씨두리안,"['SF', '드라마', '로맨스']",1,1,0,0,0,0,0,0,0,0
391,가슴이 뛴다,"['공포', '로맨스', '코미디']",0,1,0,0,0,0,0,1,0,0
392,기적의 형제,['드라마'],1,0,0,0,0,0,0,0,0,0

In [53]:
#각 셀의 원핫인코딩을 살리기 위해 2이상인 것들은 1로 대체함
def replace(x):
    try:
        numeric = pd.to_numeric(x)
    except:
        numeric = float('nan')

    if pd.notnull(numeric) and numeric >= 2:
        return 1
    else:
        return x

In [54]:
merged_df = merged_df.applymap(replace)
merged_df

,작품명,장르,드라마,로맨스,미스터리,스릴러,액션,역사,전문분야,코미디,판타지,휴먼
0,에이틴,"['웹드라마', '학원물', '로맨스']",1,1,0,0,0,0,0,0,0,1
1,최고의 치킨,['드라마'],1,0,0,0,0,0,0,0,0,0
2,왼손잡이 아내,"['복수', '멜로']",0,1,0,1,0,0,0,0,0,0
3,동네변호사 조들호 2: 죄와 벌,['법률 드라마'],1,0,0,0,0,0,1,0,0,0
4,왕이 된 남자,['사극'],0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
388,넘버스 : 빌딩숲의 감시자들,"['오피스', '복수', '범죄', '스릴러']",0,0,0,1,1,0,0,0,0,0
389,악귀,"['판타지', '미스터리', '스릴러']",0,0,1,1,0,0,0,0,1,0
390,아씨두리안,"['SF', '드라마', '로맨스']",1,1,0,0,0,0,0,0,0,0
391,가슴이 뛴다,"['공포', '로맨스', '코미디']",0,1,0,0,0,0,0,1,0,0
392,기적의 형제,['드라마'],1,0,0,0,0,0,0,0,0,0

In [55]:
saving_path = r'C:\Users\sjung\Desktop\Data_Science_Lab\EDA_project\10th-EDA\Team_C\정제데이터\\'
merged_df.to_csv(saving_path + "genre_one_hot_encoding.csv", index=False, encoding='cp949')