### Week 2 Assignment

In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
PATH = '/content/drive/MyDrive/23-2_DSL/EDA/DataSet' # Dataset Directory Path 지정

In [12]:
names = ['통계방법론'] # Dataset Directory 내 강의명 제시

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [25]:
name = "재정학"
file = "2023_1_블렌디드_조성일_재정학.txt"
with open(os.path.join(PATH, name, file), "r") as file_name:
  file_csv = file.split('.')[0] + '.csv'
  first_line = file_name.readline()
  if first_line[0] == '1' or first_line[0] == '0':
    DF = pd.read_csv(os.path.join(PATH, name, file), delimiter = '\t', header = None)
    DF.columns = ["순위", "마일리지", "특수교육대상자(장애학생)여부", "전공자/복수전공자(전공자정원포함여부)", "신청과목수", "졸업신청", "초수강여부", "총이수학점비율", "직전학기이수학점비율", "학년", "수강여부", "비고"]
    DF.to_csv(os.path.join(PATH, name, file_csv), index = False)

In [9]:
# 예시 파일
pd.read_csv('/content/drive/MyDrive/23-2_DSL/EDA/DataSet/재정학/2023_1_블렌디드_조성일_재정학.csv', delimiter = ',')

,순위,마일리지,특수교육대상자(장애학생)여부,전공자/복수전공자(전공자정원포함여부),신청과목수,졸업신청,초수강여부,총이수학점비율,직전학기이수학점비율,학년,수강여부,비고
0,1,12,Y,Y(Y),4,N,Y,0.7142,0.1666,4,Y,NaN
1,2,12,N,Y(Y),6,Y,Y,1.0000,1.0000,4,Y,NaN
2,3,12,N,Y(Y),6,Y,Y,1.0000,0.3333,4,Y,NaN
3,4,12,N,Y(Y),6,Y,Y,0.9682,0.8333,4,Y,NaN
4,5,12,N,Y(Y),6,Y,Y,0.9603,1.0000,4,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
78,79,8,N,N(N),6,N,Y,0.5873,0.6944,3,NaN,NaN
79,80,6,N,Y(N),6,N,Y,0.7857,0.5000,4,NaN,NaN
80,81,1,N,Y(Y),6,Y,Y,0.9365,1.0000,4,NaN,NaN
81,82,1,N,Y(Y),6,N,Y,0.7738,1.0000,4,NaN,NaN
82,83,1,N,N(N),6,N,Y,0.6031,0.3333,3,NaN,NaN

In [30]:
DF = pd.read_csv('/content/drive/MyDrive/23-2_DSL/EDA/DataSet/선형대수/2023_1_대면_김숙경_선형대수.csv', delimiter = ',')

if DF['특수교육대상자(장애학생)여부'][0] == 'Y' or DF['특수교육대상자(장애학생)여부'][0] == 'N':
    DF['특수교육대상자(장애학생)여부'] = DF['특수교육대상자(장애학생)여부'].fillna('N').map({'N' : 0, 'Y' : 1}).astype(int)

if DF['전공자/복수전공자(전공자정원포함여부)'][0] != 1 and DF['전공자/복수전공자(전공자정원포함여부)'][0] != 2 and DF['전공자/복수전공자(전공자정원포함여부)'][0] != 3 and DF['전공자/복수전공자(전공자정원포함여부)'][0] != 4:
    DF['전공자/복수전공자(전공자정원포함여부)'] = DF['전공자/복수전공자(전공자정원포함여부)'].fillna('N(N)').map({'N(N)' : 1, 'N(Y)' : 2, 'Y(N)' : 3, 'Y(Y)' : 4}).astype(int)

if DF['졸업신청'][0] != 0 and DF['졸업신청'][0] != 1:
    DF['졸업신청'] = DF['졸업신청'].fillna('N').map({'N' : 0, 'Y' : 1}).astype(int)

if DF['초수강여부'][0] != 0 and DF['초수강여부'][0] != 1:
    DF['초수강여부'] = DF['초수강여부'].fillna('N').map({'N' : 0, 'Y' : 1}).astype(int)

if DF['수강여부'][0] != 0 and DF['수강여부'][0] != 1:
    DF['수강여부'] = DF['수강여부'].fillna('N').map({'N' : 0, 'Y' : 1}).astype(int)
DF.to_csv('/content/drive/MyDrive/23-2_DSL/EDA/DataSet/선형대수/2023_1_대면_김숙경_선형대수.csv', index = False)

print(file, 'is updated !')

2023_1_블렌디드_조성일_재정학.txt is updated !

In [31]:
DF = pd.read_csv('/content/drive/MyDrive/23-2_DSL/EDA/DataSet/선형대수/2023_1_대면_김숙경_선형대수.csv', delimiter = ',')
condition = (DF['비고'] == '*')  # 삭제할 행을 선택하는 조건을 설정합니다.
DF.drop(DF[condition].index, inplace = True)
condition2 = (DF['순위'] == 0)
DF.drop(DF[condition2].index, inplace = True)
DF.dropna(subset=['순위'], inplace=True)
DF = DF.iloc[:, 1:-1] #순위와 비고를 한번에 제거할 수 있는 column index 범위를 찾아보세요!
DF.to_csv('/content/drive/MyDrive/23-2_DSL/EDA/DataSet/선형대수/2023_1_대면_김숙경_선형대수.csv', index = False)

DF

,마일리지,특수교육대상자(장애학생)여부,전공자/복수전공자(전공자정원포함여부),신청과목수,졸업신청,초수강여부,총이수학점비율,직전학기이수학점비율,학년,수강여부
3,12,1,1,6,0,1,0.1984,0.5277,2,1
4,12,0,4,6,0,1,0.6904,1.0000,3,1
5,12,0,4,6,0,1,0.6587,0.8611,3,1
6,12,0,4,6,0,1,0.6269,0.6666,3,1
7,12,0,4,6,0,1,0.5753,1.0000,3,1
...,...,...,...,...,...,...,...,...,...,...
71,4,0,4,6,0,0,0.5238,0.8333,3,1
72,3,0,1,6,1,1,0.9500,0.7894,4,0
73,1,0,4,6,0,0,0.7777,1.0000,3,1
74,1,0,1,6,0,1,0.6315,1.0000,2,0
75,1,0,1,6,0,1,0.6074,1.0000,3,0

### Add Column Index

In [13]:
for name in names:
    for file in os.listdir(os.path.join(PATH, name)):
        file_csv = file.split('.')[0] + '.csv'
        if file.startswith('202'):
            with open(os.path.join(PATH, name, file), "r") as file_name:
                first_line = file_name.readline()
                if first_line[0] == '1' or first_line[0] == '0':
                    DF = pd.read_csv(os.path.join(PATH, name, file), delimiter = '\t', header = None)
                    DF.columns = ["순위", "마일리지", "특수교육대상자(장애학생)여부", "전공자/복수전공자(전공자정원포함여부)", "신청과목수", "졸업신청", "초수강여부", "총이수학점비율", "직전학기이수학점비율", "학년", "수강여부", "비고"]
                    DF.to_csv(os.path.join(PATH, name, file_csv), index = False)


        os.remove(os.path.join(PATH, name, file))
        print(file, 'is switched to csv format!')

2023_1_대면_정종희_통계방법론_(01분반).txt is switched to csv format!
2023_1_대면_박경덕_통계방법론_(02분반).txt is switched to csv format!
2023_1_대면_정종희_통계방법론_(03분반).txt is switched to csv format!
2022_2_대면_정종희_통계방법론_(01분반).txt is switched to csv format!
2022_2_대면_박상언_통계방법론_(02분반).txt is switched to csv format!
2022_2_대면_정종희_통계방법론_(04분반).txt is switched to csv format!
2022_1_블렌딩_정종희_통계방법론_(01분반).txt is switched to csv format!
2022_1_블렌딩_최현옥_통계방법론_(02분반).txt is switched to csv format!
2022_1_블렌딩_김철응_통계방법론_(03분반).txt is switched to csv format!
2022_1_블렌딩_김미정_통계방법론_(04분반).txt is switched to csv format!
2022_2_대면_김미정_통계방법론_(03분반).txt is switched to csv format!
2023_1_대면_김미정_통계방법론_(04분반).txt is switched to csv format!
2021_2_블렌딩_정종희_통계방법론_(01분반).txt is switched to csv format!
2021_2_블렌딩_정종희_통계방법론_(02분반).txt is switched to csv format!
2021_2_블렌딩_김철응_통계방법론_(03분반).txt is switched to csv format!
2021_2_블렌딩_김미정_통계방법론_(04분반).txt is switched to csv format!
2021_1_블렌딩_정종희_통계방법론_(01분반).txt is switched to csv format!
2021_1_블렌딩_이주영_통계방법론_(02분반).txt is switched to csv format!
2021_1_블렌딩_김철응_통계방법론_(03분반).txt is switched to csv format!
2021_1_블렌딩_김미정_통계방법론_(04분반).txt is switched to csv format!
2020_2_비대면_정종희_통계방법론_(01분반).txt is switched to csv format!
2020_2_비대면_정종희_통계방법론_(02분반).txt is switched to csv format!
2020_2_블렌딩_김철응_통계방법론_(03분반).txt is switched to csv format!

In [14]:
# 예시 파일
pd.read_csv('/content/drive/MyDrive/23-2_DSL/EDA/DataSet/미시경제학/2021_1_블렌딩_김세민_미시경제학_(06분반).csv', delimiter = ',')

,마일리지,특수교육대상자(장애학생)여부,전공자/복수전공자(전공자정원포함여부),신청과목수,졸업신청,초수강여부,총이수학점비율,직전학기이수학점비율,학년,수강여부
0,12,0,4,6,1,1,0.897,0.833,4,1
1,12,0,4,6,0,1,0.873,0.947,4,1
2,12,0,4,6,0,1,0.849,1.000,4,1
3,12,0,4,6,0,1,0.675,1.000,3,0
4,12,0,4,6,0,1,0.611,1.000,3,0
5,12,0,4,6,0,1,0.603,1.000,3,0
6,12,0,4,6,0,1,0.603,1.000,3,0
7,12,0,4,6,0,1,0.587,1.000,3,0
8,12,0,4,6,0,1,0.357,1.000,2,0
9,12,0,4,6,0,1,0.349,1.000,2,0
10,12,0,4,6,0,1,0.258,0.889,2,0
11,12,0,4,6,0,1,0.159,0.167,2,0
12,12,0,1,6,0,1,0.632,1.000,2,0
13,8,0,4,6,0,1,0.536,0.861,3,0
14,3,0,4,6,0,1,0.290,1.000,2,0
15,2,0,4,6,0,1,0.286,1.000,2,0

In [15]:
for name in names:
    for file in os.listdir(os.path.join(PATH, name)):
        if file.startswith('202'):
            DF = pd.read_csv(os.path.join(PATH, name, file), delimiter = ',')

            if DF['특수교육대상자(장애학생)여부'][0] == 'Y' or DF['특수교육대상자(장애학생)여부'][0] == 'N':
                DF['특수교육대상자(장애학생)여부'] = DF['특수교육대상자(장애학생)여부'].fillna('N').map({'N' : 0, 'Y' : 1}).astype(int)

            if DF['전공자/복수전공자(전공자정원포함여부)'][0] != 1 and DF['전공자/복수전공자(전공자정원포함여부)'][0] != 2 and DF['전공자/복수전공자(전공자정원포함여부)'][0] != 3 and DF['전공자/복수전공자(전공자정원포함여부)'][0] != 4:
                DF['전공자/복수전공자(전공자정원포함여부)'] = DF['전공자/복수전공자(전공자정원포함여부)'].fillna('N(N)').map({'N(N)' : 1, 'N(Y)' : 2, 'Y(N)' : 3, 'Y(Y)' : 4}).astype(int)

            if DF['졸업신청'][0] != 0 and DF['졸업신청'][0] != 1:
                DF['졸업신청'] = DF['졸업신청'].fillna('N').map({'N' : 0, 'Y' : 1}).astype(int)

            if DF['초수강여부'][0] != 0 and DF['초수강여부'][0] != 1:
                DF['초수강여부'] = DF['초수강여부'].fillna('N').map({'N' : 0, 'Y' : 1}).astype(int)

            if DF['수강여부'][0] != 0 and DF['수강여부'][0] != 1:
                DF['수강여부'] = DF['수강여부'].fillna('N').map({'N' : 0, 'Y' : 1}).astype(int)
            DF.to_csv(os.path.join(PATH, name, file), index = False)

            print(file, 'is updated !')

2023_1_대면_정종희_통계방법론_(01분반).csv is updated !
2023_1_대면_박경덕_통계방법론_(02분반).csv is updated !
2023_1_대면_정종희_통계방법론_(03분반).csv is updated !
2022_2_대면_정종희_통계방법론_(01분반).csv is updated !
2022_2_대면_박상언_통계방법론_(02분반).csv is updated !
2022_2_대면_정종희_통계방법론_(04분반).csv is updated !
2022_1_블렌딩_정종희_통계방법론_(01분반).csv is updated !
2022_1_블렌딩_최현옥_통계방법론_(02분반).csv is updated !
2022_1_블렌딩_김철응_통계방법론_(03분반).csv is updated !
2022_1_블렌딩_김미정_통계방법론_(04분반).csv is updated !
2022_2_대면_김미정_통계방법론_(03분반).csv is updated !
2023_1_대면_김미정_통계방법론_(04분반).csv is updated !
2021_2_블렌딩_정종희_통계방법론_(01분반).csv is updated !
2021_2_블렌딩_정종희_통계방법론_(02분반).csv is updated !
2021_2_블렌딩_김철응_통계방법론_(03분반).csv is updated !
2021_2_블렌딩_김미정_통계방법론_(04분반).csv is updated !
2021_1_블렌딩_정종희_통계방법론_(01분반).csv is updated !
2021_1_블렌딩_이주영_통계방법론_(02분반).csv is updated !
2021_1_블렌딩_김철응_통계방법론_(03분반).csv is updated !
2021_1_블렌딩_김미정_통계방법론_(04분반).csv is updated !
2020_2_비대면_정종희_통계방법론_(01분반).csv is updated !
2020_2_비대면_정종희_통계방법론_(02분반).csv is updated !
2020_2_블렌딩_김철응_통계방법론_(03분반).csv is updated !

In [ ]:
# 예시 파일
a = pd.read_csv('/content/drive/MyDrive/23-2_DSL/EDA/DataSet/미시경제학/2021_1_블렌딩_김세민_미시경제학_(06분반).csv', delimiter = ',')
a

,순위,마일리지,특수교육대상자(장애학생)여부,전공자/복수전공자(전공자정원포함여부),신청과목수,졸업신청,초수강여부,총이수학점비율,직전학기이수학점비율,학년,수강여부,비고
0,1.0,12,0,4,6,1,1,0.897,0.833,4,1,NaN
1,2.0,12,0,4,6,0,1,0.873,0.947,4,1,NaN
2,3.0,12,0,4,6,0,1,0.849,1.000,4,1,NaN
3,4.0,12,0,4,6,0,1,0.675,1.000,3,0,NaN
4,5.0,12,0,4,6,0,1,0.611,1.000,3,0,NaN
5,6.0,12,0,4,6,0,1,0.603,1.000,3,0,NaN
6,7.0,12,0,4,6,0,1,0.603,1.000,3,0,NaN
7,8.0,12,0,4,6,0,1,0.587,1.000,3,0,NaN
8,9.0,12,0,4,6,0,1,0.357,1.000,2,0,NaN
9,10.0,12,0,4,6,0,1,0.349,1.000,2,0,NaN
10,11.0,12,0,4,6,0,1,0.258,0.889,2,0,NaN
11,12.0,12,0,4,6,0,1,0.159,0.167,2,0,NaN
12,13.0,12,0,1,6,0,1,0.632,1.000,2,0,NaN
13,14.0,8,0,4,6,0,1,0.536,0.861,3,0,NaN
14,15.0,3,0,4,6,0,1,0.290,1.000,2,0,NaN
15,16.0,2,0,4,6,0,1,0.286,1.000,2,0,NaN
16,NaN,12,0,4,5,0,1,0.706,0.833,3,1,*
17,NaN,12,0,4,4,0,1,0.583,1.000,3,1,*
18,NaN,12,0,4,4,0,1,0.536,0.833,3,1,*
19,NaN,12,0,4,4,0,1,0.413,1.000,2,1,*
20,NaN,12,0,4,4,0,1,0.365,1.000,2,1,*
21,NaN,12,0,4,4,0,1,0.341,1.000,2,1,*
22,NaN,12,0,4,3,0,0,0.929,0.833,4,1,*
23,NaN,12,0,4,3,0,0,0.587,1.000,3,1,*
24,NaN,12,0,4,3,0,1,0.667,1.000,3,1,*
25,NaN,12,0,4,3,0,1,0.556,0.861,3,1,*
26,NaN,12,0,4,3,0,1,0.492,1.000,3,1,*
27,NaN,12,0,4,3,0,1,0.381,1.000,2,1,*
28,NaN,12,0,4,3,0,1,0.349,1.000,2,1,*
29,NaN,12,0,4,3,0,1,0.333,0.889,2,1,*
30,NaN,12,0,4,3,0,1,0.317,1.000,2,1,*
31,NaN,12,0,4,3,0,1,0.302,1.000,2,1,*
32,NaN,12,0,4,3,0,1,0.294,1.000,2,1,*
33,NaN,12,0,4,3,0,1,0.294,1.000,2,1,*
34,NaN,12,0,4,3,0,1,0.290,1.000,2,1,*
35,NaN,12,0,4,3,0,1,0.286,1.000,2,1,*
36,NaN,12,0,4,3,0,1,0.286,1.000,2,1,*
37,NaN,12,0,4,3,0,1,0.254,0.889,2,1,*
38,NaN,12,0,4,2,0,1,0.627,1.000,3,1,*
39,NaN,12,0,4,2,0,1,0.488,1.000,3,1,*
40,NaN,12,0,4,2,0,1,0.464,1.000,2,1,*
41,NaN,12,0,4,2,0,1,0.433,0.833,3,1,*
42,NaN,12,0,4,2,0,1,0.381,1.000,2,1,*
43,NaN,12,0,4,2,0,1,0.373,1.000,2,1,*
44,NaN,12,0,4,2,0,1,0.365,1.000,2,1,*
45,NaN,12,0,4,2,0,1,0.349,1.000,2,1,*
46,NaN,12,0,4,2,0,1,0.333,1.000,2,1,*
47,NaN,12,0,4,2,0,1,0.333,1.000,2,1,*
48,NaN,12,0,4,2,0,1,0.333,1.000,2,1,*
49,NaN,12,0,4,2,0,1,0.329,1.000,2,1,*
50,NaN,12,0,4,2,0,1,0.329,0.889,2,1,*
51,NaN,12,0,4,2,0,1,0.270,1.000,2,1,*
52,NaN,12,0,4,1,0,1,0.730,1.000,3,1,*
53,NaN,12,0,4,1,0,1,0.365,1.000,2,1,*
54,NaN,12,0,4,1,0,1,0.357,1.000,2,1,*

In [ ]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   순위                    16 non-null     float64
 1   마일리지                  55 non-null     int64
 2   특수교육대상자(장애학생)여부       55 non-null     int64
 3   전공자/복수전공자(전공자정원포함여부)  55 non-null     int64
 4   신청과목수                 55 non-null     int64
 5   졸업신청                  55 non-null     int64
 6   초수강여부                 55 non-null     int64
 7   총이수학점비율               55 non-null     float64
 8   직전학기이수학점비율            55 non-null     float64
 9   학년                    55 non-null     int64
 10  수강여부                  55 non-null     int64
 11  비고                    39 non-null     object
dtypes: float64(3), int64(8), object(1)
memory usage: 5.3+ KB

In [16]:
for name in names:
    for file in os.listdir(os.path.join(PATH, name)):
        if file.startswith('202'):
            DF = pd.read_csv(os.path.join(PATH, name, file), delimiter = ',')
            condition = (DF['비고'] == '*')  # 삭제할 행을 선택하는 조건을 설정합니다.
            DF.drop(DF[condition].index, inplace = True)
            condition2 = (DF['순위'] == 0)
            DF.drop(DF[condition2].index, inplace = True)
            DF.dropna(subset=['순위'], inplace=True)
            DF = DF.iloc[:, 1:-1] #순위와 비고를 한번에 제거할 수 있는 column index 범위를 찾아보세요!
            DF.to_csv(os.path.join(PATH, name, file), index = False)

In [ ]:
# 예시 파일
pd.read_csv('/content/drive/MyDrive/23-2_DSL/EDA/DataSet/미시경제학/2021_1_블렌딩_김세민_미시경제학_(06분반).csv', delimiter = ',')

,마일리지,특수교육대상자(장애학생)여부,전공자/복수전공자(전공자정원포함여부),신청과목수,졸업신청,초수강여부,총이수학점비율,직전학기이수학점비율,학년,수강여부
0,12,0,4,6,1,1,0.897,0.833,4,1
1,12,0,4,6,0,1,0.873,0.947,4,1
2,12,0,4,6,0,1,0.849,1.000,4,1
3,12,0,4,6,0,1,0.675,1.000,3,0
4,12,0,4,6,0,1,0.611,1.000,3,0
5,12,0,4,6,0,1,0.603,1.000,3,0
6,12,0,4,6,0,1,0.603,1.000,3,0
7,12,0,4,6,0,1,0.587,1.000,3,0
8,12,0,4,6,0,1,0.357,1.000,2,0
9,12,0,4,6,0,1,0.349,1.000,2,0
10,12,0,4,6,0,1,0.258,0.889,2,0
11,12,0,4,6,0,1,0.159,0.167,2,0
12,12,0,1,6,0,1,0.632,1.000,2,0
13,8,0,4,6,0,1,0.536,0.861,3,0
14,3,0,4,6,0,1,0.290,1.000,2,0
15,2,0,4,6,0,1,0.286,1.000,2,0

In [ ]:
# 예시 파일
pd.read_csv('/content/drive/MyDrive/23-2_DSL/EDA/DataSet/미시경제학/2023_1_최미호_미시경제학.csv', delimiter = ',')

,마일리지,특수교육대상자(장애학생)여부,전공자/복수전공자(전공자정원포함여부),신청과목수,졸업신청,초수강여부,총이수학점비율,직전학기이수학점비율,학년,수강여부
0,12,0,4,6,1,0,0.9841,0.6666,4,1
1,12,0,4,6,0,1,0.7301,1.0000,3,1
2,12,0,3,6,0,1,0.6984,1.0000,3,1
3,12,0,3,6,0,1,0.6888,0.7894,3,1
4,12,0,4,6,0,1,0.6746,0.5277,4,1
...,...,...,...,...,...,...,...,...,...,...
75,12,0,1,6,0,1,0.2888,0.8421,2,0
76,12,0,1,6,0,1,0.2851,0.9736,2,0
77,12,0,1,5,0,0,0.9126,1.0000,4,0
78,10,0,4,6,0,1,0.3095,1.0000,2,0
79,4,0,4,6,0,1,0.3015,0.8055,2,0

In [17]:
for name in names:
    for file in os.listdir(os.path.join(PATH, name)):
        file_csv = file.split('.')[0] + '.csv'
        if file.startswith('202'):
            with open(os.path.join(PATH, name, file), "r") as file_name:
                DF = pd.read_csv(os.path.join(PATH, name, file), delimiter = ',')
                row_count = len(DF)

        print(file, 'row count :', row_count)

2023_1_대면_정종희_통계방법론_(01분반).csv row count : 68
2023_1_대면_박경덕_통계방법론_(02분반).csv row count : 58
2023_1_대면_정종희_통계방법론_(03분반).csv row count : 68
2022_2_대면_정종희_통계방법론_(01분반).csv row count : 59
2022_2_대면_박상언_통계방법론_(02분반).csv row count : 45
2022_2_대면_정종희_통계방법론_(04분반).csv row count : 60
2022_1_블렌딩_정종희_통계방법론_(01분반).csv row count : 95
2022_1_블렌딩_최현옥_통계방법론_(02분반).csv row count : 65
2022_1_블렌딩_김철응_통계방법론_(03분반).csv row count : 49
2022_1_블렌딩_김미정_통계방법론_(04분반).csv row count : 21
2022_2_대면_김미정_통계방법론_(03분반).csv row count : 10
2023_1_대면_김미정_통계방법론_(04분반).csv row count : 2
2021_2_블렌딩_정종희_통계방법론_(01분반).csv row count : 97
2021_2_블렌딩_정종희_통계방법론_(02분반).csv row count : 76
2021_2_블렌딩_김철응_통계방법론_(03분반).csv row count : 13
2021_2_블렌딩_김미정_통계방법론_(04분반).csv row count : 48
2021_1_블렌딩_정종희_통계방법론_(01분반).csv row count : 99
2021_1_블렌딩_이주영_통계방법론_(02분반).csv row count : 8
2021_1_블렌딩_김철응_통계방법론_(03분반).csv row count : 5
2021_1_블렌딩_김미정_통계방법론_(04분반).csv row count : 97
2020_2_비대면_정종희_통계방법론_(01분반).csv row count : 115
2020_2_비대면_정종희_통계방법론_(02분반).csv row count : 86
2020_2_블렌딩_김철응_통계방법론_(03분반).csv row count : 20